.life-container {
    background: linear-gradient(to bottom right, #f8a663, #4e79d5); /* Gradient colors */
    width: 100%;
    height: 100vh; /* Set full height of the viewport */
    display: grid;
    grid-template-columns: 2fr 1fr; /* Two columns with equal width */
    grid-column-gap: 0px; /* Adjust the gap between columns */
}

.calendar{
    grid-column: 1; /* Left component occupies the first column */
}
.todo{
    grid-column: 2;
}
.calendar-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', sans-serif; 
    color: white;
    margin-bottom: 15px;
    margin-right: 180px;
}
.calendar-header h1{
  color: white
}
  
.calendar-header .button-container {
  flex-direction:row;
  text-align: right; /* Align buttons to the right */
}
.calendar-button{
  background-color: #5B8FFB; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.5s ease;
}
.calendar-container {
    width: 100%;
    height: 100%;
    padding: 0px; /* Adjust padding to your preference */
  }  

.calendar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', sans-serif; 
    color: white;
}

.add-event-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Trebuchet MS', sans-serif; 
  }
  
  .add-event-popup input[type="text"],
  .add-event-popup textarea,
  .add-event-popup select {
    width: calc(100% - 20px); /* Adjust width to leave space for the checkbox */
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .add-event-popup input[type="checkbox"] {
    display: inline-block; /* Display checkbox inline */
    margin-right: 5px; /* Adjust spacing between checkbox and label */
  }
  .add-event-popup p {
    vertical-align: middle;
    font-size: 12px;
    color: black;
  }
  
  .add-event-popup .button-container {
    text-align: right; /* Align buttons to the right */
  }
  
  .add-event-popup button {
    padding: 10px 20px;
    background-color: #5B8FFB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .add-event-popup button:hover {
    background-color: #f94a1e;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Ensure it's above other content */
  }

  .event-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Trebuchet MS', sans-serif; 
    max-width: 600px;
    padding: 20px
  }
  .event-popup button {
    padding: 10px 20px;
    background-color: #5B8FFB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 5px;
  }
  .event-popup button:hover {
    background-color: #f94a1e;
  }
  .event-popup h{
    font-family: 'Trebuchet MS', sans-serif; 
    font-size: 25px; /* Adjust the font size as needed */
    font-weight: bold; /* Adjust the font weight as needed */
  }
  
  .event-popup p {
    font-family: 'Trebuchet MS', sans-serif; 
    font-size: 16px; /* Adjust the font size as needed */
  }
  
  

.rbc-calendar {
    background: #ffffff; 
}
  
  