.global-container {
    background: linear-gradient(to bottom right, #f94a1e, #5B8FFB); /* Gradient colors */
    width: 100%;
    height: 100vh; /* Set full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.global-button-group {
    display: flex; /* Set display to flex */
}
.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Cormorant Garamond', serif;
}
.global-button {
    background-color: #f94a1e; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 8px;
}
  
.global-button:hover {
    background-color: #5B8FFB; 
}
  
.logo {
    width: 300px; /* Adjust the width of the logo as needed */
    height: auto;
    margin-left: 15px; /* Add some spacing between the text and the logo */
  }