
.landing-content {
    /* Styles for your landing page content */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Copperplate Gothic', sans-serif;
}
.welcome-text {
    display: flex;
    align-items: flex-end;
    font-size: 27px;
  }

.welcome-text h3 {
    display: flex;
    align-items: flex-end;
    font-size: 38px;
  }

.landing-content h1 {
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}

.landing-content p {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.logo {
  width: 250px; /* Adjust the width of the logo as needed */
  height: auto;
  margin-left: 15px; /* Add some spacing between the text and the logo */
  margin-bottom: 12px;
}
  