.gen-info-form {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .gen-info-form h1 {
    text-align: center;
  }
  
  .gen-info-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .gen-info-form input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .gen-info-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .gen-info-form button:hover {
    background-color: #0056b3;
  }

  .grad-date-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .grad-date-container select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .jobs-form {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .jobs-form h1 {
    text-align: center;
  }
  
  .job-container {
    margin-bottom: 20px;
  }
  
  .job-container label {
    display: block;
    font-weight: bold;
  }
  
  .job-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .job-container button {
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .job-container button:hover {
    background-color: #0056b3;
  }

  .add-job-button {
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-job-button:hover {
    background-color: #0056b3;
  }
  

  .description-input {
    width: 100%;
    height: 100px; /* Adjust height as needed */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical; /* Allow vertical resizing */
  }
  
  
  