.resume-dashboard-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding: 0 20px;
}

.dash-title{
  text-align: center;
  color: white;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.feature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.feature-box:hover {
  transform: translateY(-5px);
}

.feature-image {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
  border-radius: 100%;
  margin-bottom: 20px;
}

.feature-image-2 {
  width: 150x;
  height: 150px;
  object-fit: scale-down;
  border-radius: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.feature-content {
  flex: 1;
}

.feature-title {
  margin-bottom: 10px;
  font-size: 24px;
}

.feature-description {
  padding: 0px 20px;
  margin-bottom: 20px;
  color: #666;
  text-align: justify;
}

.feature-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer; /* Add cursor property */
}

.feature-button:hover {
  background-color: #0056b3;
}



.delete-resume-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #dc3545; /* Red color */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer; /* Add cursor property */
  
  
}
.delete-resume-btn:hover {
  background-color: #c82333; /* Darker red color on hover */
}

.delete-resume-btn:focus {
  box-shadow: 0 0 0 2px #c82333; /* Add outline on focus */
}

  
.example-btn {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 200px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  background-color: #007bff; /* Blue color */
  color: white;
  font-size: 1.5rem; /* Adjust font size as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto; /* Center horizontally */
  text-align: center;
  text-decoration: none;
  outline: none;
}

.example-btn:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}

.example-btn:focus {
  box-shadow: 0 0 0 2px #0056b3; /* Add outline on focus */
}

.body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
  

.notifications-container {
  position: absolute;
  top: 3rem; /* Adjust as needed */
  right: 1.25rem; /* Adjust as needed */
  width: 320px;
  height: auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: opacity 0.5s ease
}

.flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.success {
  position: relative; /* Keep relative positioning for button alignment */
  padding: 1rem;
  border-radius: 0.375rem;
  z-index: 1;
  background-color: rgb(204, 238, 214);
}

.succes-svg {
  color: rgb(74 222 128);
  width: 1.25rem;
  height: 1.25rem;
}

.success-prompt-wrap {
  margin-left: 0.75rem;
}

.success-prompt-heading {
  font-weight: bold;
  color: rgb(22 101 52);
}

.success-prompt-prompt {
  margin-top: 0.5rem;
  color: rgb(21 128 61);
}

.success-button-container {
  display: flex;
  margin-top: 0.875rem;
  margin-bottom: -0.375rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.success-button-main,
.success-button-secondary {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #ECFDF5;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.375rem;
  border: none;
}

.success-button-main:hover {
  background-color: #D1FAE5;
}

.success-button-secondary {
  margin-left: 0.75rem;
  background-color: #ECFDF5;
  color: #065F46;
}

  