/* stockList.css */
.stock-list-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.add-item-container {
    display: flex;
    margin-bottom: 10px;
}

.add-item-input {
    flex: 1;
    padding: 5px;
    font-size: 16px;
}

.add-item-button {
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.stock-items-list {
    list-style-type: none;
    padding: 0;
}



.stock-list-container h2 {
    color: white;
}

.remove-item-button {
    padding: 2px 5px;
    font-size: 14px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: right;
    width: 20px;
    text-align: center;
}

.stock-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.big-box {
    border: 1px solid #ccc;
    padding: 10px;
    padding-top: 0px;
    border-radius: 5px;
    background-color: white;
    padding-bottom: 0px;
  }